@import '../variables';

.side-menu {
  background-color: #f5f5f5;
  height: calc(100vh - $top-navigation-height);
  min-width: 220px;
  padding: 20px 20px 0;
  position: relative;
  top: $top-navigation-height;
  width: 20%;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  color: #000;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 19px 0;
  cursor: pointer;
}
