.welcome {
  min-height: 500px;

  .greeting {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
  }
  
  .prompt {
    font-size: 2rem;
    margin: 117px 0 85px;
  }

  .blue-button {
    padding: 11px 49px 10px;
  }
}